body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #1A1121;
  color: white;
  text-align: center;
  padding: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.category {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.5s, color 0.5s, cursor 0.3s;
  cursor: pointer;
}

.category:hover {
  transform: scale(1.1);
  background-color: #1a2b3c; /* Warna biru tua */
  color: white;
  cursor: pointer;
}

.category .icon {
  font-size: 50px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Tambahan CSS untuk header pada halaman detail */
.content-header {
  background-color: #1A1121; /* Latar belakang abu-abu */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content-header h1 {
  margin: 0;
  color: #f2f6ff; /* Warna teks */
}

.page {
  display: none;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}